<div>
    <div class="modal-header">
        <h3 class="modal-title">{{'title.changePassword' | translate}}</h3>
    </div>
    <form ng-submit="cpc.submit()">
        <div class="modal-body">
            <div class="error-message">{{cpc.errorMessage}}</div>
            <div class="info-container"><span translate="{{'login.password.info'}}"></span></div>
            <input-field ng-if="cpc.contextLogin" label="'login.userName' | translate" ng-model="cpc.login" required="true"></input-field>
            <input-field label="'login.password' | translate" ng-model="cpc.oldPassword" type="'password'" required="true"></input-field>
            <input-field label="'newPassword' | translate" ng-model="cpc.newPassword" type="'password'" required="true"></input-field>
            <input-field label="'confirmedPassword' | translate" ng-model="cpc.confirmedPassword" type="'password'" required="true"></input-field>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">{{'button.save' | translate}}</button>
            <button class="btn button-cancel" type="button" ng-click="cpc.close()">{{'button.cancel' | translate}}</button>
        </div>
    </form>
</div>