<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form name="loginform" class="form-signin" ng-submit="loginController.login()">
            <span id="reauth-email" class="reauth-email"></span>
            <div class="error-message" >{{loginController.errorMessage}}</div>
            <input ng-model="loginController.userName" type="text" id="inputEmail" class="form-control" placeholder="{{'login.email' | translate}}" required autofocus>
            <input ng-model="loginController.password" type="password" id="inputPassword" class="form-control" placeholder="{{'login.password' | translate}}" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> {{'login.rememberMe' | translate}}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{{'button.login' | translate}}</button>
        </form>
        <!--<a href="#" class="forgot-password">-->
            <!--{{'button.forgottenPassword' | translate}}-->
        <!--</a>-->
        <a ng-controller="navbarController as navbarController" ng-click="navbarController.openChangePasswordModal(true)" href="#" class="forgot-password">
            {{'button.changePassword' | translate}}
        </a>
    </div>
</div>