<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form name="loginform" class="form-signin" ng-submit="loginController.login()">
            <span id="reauth-email" class="reauth-email"></span>
            <div class="login-error" >{{errorMessage.$$state.value}}</div>
            <input ng-model="loginController.userName" type="text" id="inputEmail" class="form-control" placeholder="Adres email" required autofocus>
            <input ng-model="loginController.password" type="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> zapamiętaj mnie
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj</button>
        </form>
        <a href="#" class="forgot-password">
            Zapomniałeś hasła?
        </a>
    </div>
</div>